// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #f58b3c;

$link-color: 					#f58b3c;

$link-focus-color: 				#f58b3c;

