// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #9d6bd6;

$link-color: 					#9d6bd6;

$link-focus-color: 				#9d6bd6;

