// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #0dc0c0;

$link-color: 					#0dc0c0;

$link-focus-color: 				#0dc0c0;

