// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #65a4e4;

$link-color: 					#65a4e4;

$link-focus-color: 				#65a4e4;

