// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #1dcca9;

$link-color: 					#1dcca9;

$link-focus-color: 				#1dcca9;

