// -----------------------------------------------------------------------------------

// 	variables.less

// -----------------------------------------------------------------------------------


//  ----------------------------------------------------------------
// 	Base Colors
// -----------------------------------------------------------------

$theme-color:                   #1cbac8;

$link-color: 					#1cbac8;

$link-focus-color: 				#1cbac8;

