
/*=============================== COLOR BLUE ===============================*/


/*//////////////////////////////////////////////////////////////////
[ LOADDING ]*/

.cp-skeleton {
  border-top: solid 5px #233785;
}

.cp-skeleton:before {
  border-left: solid 5px #233785;
}

.cp-skeleton:after {
  border-right: solid 5px #233785;
}


/*//////////////////////////////////////////////////////////////////
[ Header ]*/

.left-top-bar a {
  border-right: 1px solid rgba(255,255,255,0.15);
}

/*---------------------------------------------*/
.main-menu > li::before {
  background-color: #233785;
}

.social a:hover {
  color: #233785;
}


/*//////////////////////////////////////////////////////////////////
[ Footer ]*/

.item-gallery-footer::after {
  background-color: #233785;
}



/*//////////////////////////////////////////////////////////////////
[ RS sweet alert ]*/

.swal-button {
  background-color: #233785;
  color: white;
}

.swal-button:hover {
  background-color: #07185a;
}

.swal-button:active {
  background-color: #07185a;
}



/*//////////////////////////////////////////////////////////////////
[ Slick 1 ]*/
.arrow-slide-slick-6:hover,
.arrow-slide-slick-1:hover {
  background-color: #233785;
}


/*//////////////////////////////////////////////////////////////////
[ Slick 2 ]*/

.arrow-slick-5:hover,
.arrow-slick-4:hover,
.arrow-slick-2:hover {
  background-color: #233785;
}

/*//////////////////////////////////////////////////////////////////
[ Slick 3 ]*/

.arrow-slide-slick-3:hover {
  background-color: #233785;
}


/*//////////////////////////////////////////////////////////////////
[ Slick 6 ]*/

.slick6-dots li:hover {
  border-color: #233785;
}

.slick6-dots li.slick-active {
  border-color: #233785;
}



/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

/*==================================================================
[ Color ]*/
.color-main {color: #233785;}


.s-txt8 {
  color: #233785;
}

.s-txt32 {
  color: #233785;
}

/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 30 ]*/
.m-txt2 {
  color: #233785;
}

.m-txt18 {
  color: #233785;
}

.m-txt28 {
  color: #233785;
}



/*==================================================================
   SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE SHAPE
==================================================================*/


/*//////////////////////////////////////////////////////////////////
[ Background ]*/
.bg-main {background-color: #233785;}
.bg6 {background-color: #1f3177;}



/*==================================================================
      EFFECT EFFECT EFFECT EFFECT EFFECT EFFECT EFFECT EFFECT EFFECT
==================================================================*/




/*//////////////////////////////////////////////////////////////////
[ Pseudo ]*/
/*------------------------------------------------------------------
[ Focus ]*/
.input-focus-1:focus {
  border-color: rgba(35, 55, 133, 0.5);
  box-shadow: 0 0px 2px 0px #233785;
  -moz-box-shadow: 0 0px 2px 0px #233785;
  -webkit-box-shadow: 0 0px 2px 0px #233785;
  -o-box-shadow: 0 0px 2px 0px #233785;
  -ms-box-shadow: 0 0px 2px 0px #233785;
}

/*------------------------------------------------------------------
[ Hover ]*/

.hov-bg-main:hover {
  background-color: #233785;
}

.hov-color-main:hover {
  color: #233785;
}

/*---------------------------------------------*/
.hov4:hover {
  background-color: #233785;
  color: #fff;
}



/*------------------------------------------------------------------
[ Active ]*/
.actived-2 {
  color: #233785;
}


/*---------------------------------------------*/
.btn-drive::before {
  background-color: #07185a;
}


/*---------------------------------------------*/
.list-01 li::before {
  color: #233785;
}

/*---------------------------------------------*/
.symbol-1::before {
  background-color: #233785; 
}

/*---------------------------------------------*/

.overlay1::after {
  background-color: #233785;
}




