/* =====================================================================
 *   "Yellow" Skin
 * =================================================================== */
/* Links Colors */
a {
  color: #fcd746; }

a:focus {
  color: #fcd746; }

p a:hover {
  border-color: #fcd746; }

/* Headings */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #fcd746; }

/* Text Colored */
.colored {
  color: #fcd746; }

/* Scroll Top */
.scroll-top,
.scroll-top:focus {
  background: #fcd746; }

/* Buttons */
.btn.colorful {
  background: #fcd746;
  border-color: #fcd746; }

.btn.transparent-colorful {
  color: #fcd746;
  border-color: #fcd746; }

.btn.hover-colorful:hover {
  background: #fcd746;
  border-color: #fcd746; }

.btn.hover-transparent-colorful:hover {
  color: #fcd746;
  border-color: #fcd746; }

/* Scroll Progress */
#scroll-progress {
  background: #fcd746; }

/* Forms */
input[type="submit"],
input[type="submit"].form-control,
input[type="submit"],
input[type="submit"].form-control {
  background: #fcd746; }

/* Header Contact Info */
.header-contact-info li i {
  background: #fcd746; }

/* Header Social Icons */
.header-social-icons .social-icons a {
  color: #fcd746; }

/* Main Menu */
.main-menu > li > a.current, .main-menu > li:hover > a,
.main-menu > li > a:hover {
  color: #fcd746; }

.main-menu ul.sub-menu li a:hover, .main-menu ul.sub-menu li:hover > a {
  color: #fcd746; }

.main-menu.sf-arrows li > a.sf-with-ul:focus:after,
.main-menu.sf-arrows li:hover > a.sf-with-ul:after,
.main-menu.sf-arrows .sfHover > a.sf-with-ul:after {
  color: #fcd746; }

/* Mobile Menu */
.mobile-menu li:hover > a {
  color: #fcd746; }

.mobile-menu > li > a:hover, .mobile-menu > li > a.current {
  color: #fcd746; }

.mobile-menu.sf-arrows > li > a.sf-with-ul:focus:after,
.mobile-menu.sf-arrows > li:hover > a.sf-with-ul:after,
.mobile-menu.sf-arrows > .sfHover > a.sf-with-ul:after {
  color: #fcd746; }

.mobile-menu.sf-arrows li > a.sf-with-ul:focus:after,
.mobile-menu.sf-arrows li:hover > a.sf-with-ul:after,
.mobile-menu.sf-arrows .sfHover > a.sf-with-ul:after {
  color: #fcd746; }

/* Banner Slider */
.banner-slider .owl-nav [class*="owl-"] {
  background: #fcd746; }

.banner-slider .owl-dots .owl-dot.active span, .banner-slider .owl-dots .owl-dot.active:hover span {
  background: #fcd746; }

/* Section Title */
.section-title h6 {
  color: #fcd746; }

/* About Us */
.box-info-1.colorful-bg {
  background: #fcd746; }

/* Featured Projects */
.featured-projects-slider .owl-dots .owl-dot.active span,
.featured-projects-slider .owl-dots .owl-dot.active:hover span {
  background: #fcd746; }

/* Why Choose Us */
.box-info-2 .box-icon {
  background: #fcd746; }

.video-preview .btn-video {
  color: #fcd746; }

/* Lists */
.list li::before {
  color: #fcd746; }

/* Box Preview */
.box-preview .box-content .meta li i {
  color: #fcd746; }

/* Rating */
.rating i {
  color: #fcd746; }

/* Our Works */
.portfolio-categories li a.active,
.portfolio-categories li a.active:hover {
  background: #fcd746; }

.portfolio-items-wrap .portfolio-item .overlay .overlay-inner .sub-title {
  color: #fcd746; }

/* Our Team */
.team-member .box-img .overlay .overlay-inner .sub-title {
  color: #fcd746; }

.team-slider .owl-dots .owl-dot.active span,
.team-slider .owl-dots .owl-dot.active:hover span {
  background: #fcd746; }

/* Clients Testmonials */
.testmonial-single .ts-person {
  color: #fcd746; }

.testmonial-single .ts-person a:hover {
  color: #fcd746; }

.testmonials-slider .owl-nav [class*="owl-"] {
  background: #fcd746; }

.testmonials-slider .owl-dots .owl-dot.active span,
.testmonials-slider .owl-dots .owl-dot.active:hover span {
  background: #fcd746; }

/* Contact Us */
.box-contact-info i {
  color: #fcd746; }

/* CTA Title 1 */
.cta-title .colored {
  color: #fcd746 !important; }

.cta-title h1::after {
  background: #fcd746; }

/* Popular Categories */
.portfolio-categories li a:hover {
  color: #fcd746; }

.portfolio-categories li a::before {
  background: #fcd746; }

.portfolio-items-wrap .portfolio-item .overlay > i {
  background: #fcd746; }

.portfolio-items-wrap .portfolio-item .overlay .overlay-inner::before {
  background: #fcd746; }

.portfolio-items-wrap .portfolio-item .overlay .sub-title {
  color: #fcd746; }

.portfolio-single-preview > .project-close:hover {
  color: #fcd746; }

.portfolio-single-slider .owl-nav [class*="owl-"] {
  background: #fcd746; }

.portfolio-single-slider .controls span {
  color: #fcd746; }

.ps-fixedwidth-intro .description .project-close:hover {
  color: #fcd746; }

.box-info .box-content h5 .numb-count {
  color: #fcd746; }

.box-info .box-content .meta a:hover {
  color: #fcd746; }

/* Clients */
.clients-slider .owl-nav [class*="owl-"] {
  background: #fcd746; }

.clients-slider .owl-dots .owl-dot.active span,
.clients-slider .owl-dots .owl-dot.active:hover span {
  background: #fcd746; }

/* Footer */
.copyrights-message span {
  color: #fcd746; }

.scroll-top-btn {
  color: #fcd746; }
